<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BankEntities" connectionString="metadata=res://*/Models.BankModel.csdl|res://*/Models.BankModel.ssdl|res://*/Models.BankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sample.database.windows.net;initial catalog=sample;user id=sample;password=sample;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>